<project>
    <description />
    <keepDependencies>false</keepDependencies>
    <properties />
    <scm class="hudson.scm.NullSCM" />
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers />
    <concurrentBuild>false</concurrentBuild>
    <builders>
        <javaposse.jobdsl.plugin.ExecuteDslScripts plugin="job-dsl@1.79">
            <scriptText>multibranchPipelineJob('guava-build') { branchSources { branchSource { source { github { id('5ff1385e-e8a1-40d8-b55c-a84c1ec0c857') repoOwner('mgtascu') repository('guava') repositoryUrl('https://github.com/mgtascu/guava.git') apiUri('https://api.github.com') credentialsId('09cd3cb8-6b3f-4b5c-bb4f-75bfce1359a9') configuredByUrl(false) traits { authorInChangelogTrait() gitHubIgnoreDraftPullRequestFilter() gitHubPullRequestDiscovery { strategyId(2) } headWildcardFilterWithPR { includes('release/*') excludes('') tagIncludes('') tagExcludes('*') } } } } } } factory { workflowBranchProjectFactory { scriptPath('Jenkinsfile') } } orphanedItemStrategy { discardOldItems { numToKeep(5) } } }</scriptText>
            <usingScriptText>true</usingScriptText>
            <sandbox>false</sandbox>
            <ignoreExisting>false</ignoreExisting>
            <ignoreMissingFiles>false</ignoreMissingFiles>
            <failOnMissingPlugin>false</failOnMissingPlugin>
            <failOnSeedCollision>false</failOnSeedCollision>
            <unstableOnDeprecation>false</unstableOnDeprecation>
            <removedJobAction>IGNORE</removedJobAction>
            <removedViewAction>IGNORE</removedViewAction>
            <removedConfigFilesAction>IGNORE</removedConfigFilesAction>
            <lookupStrategy>JENKINS_ROOT</lookupStrategy>
        </javaposse.jobdsl.plugin.ExecuteDslScripts>
    </builders>
    <publishers />
    <buildWrappers />
</project>